<!DOCTYPE html>
<html 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/standard"
	  >
<head lang="en"></head>
<body>
    	<div class="row" layout:fragment="content">

		
			<div id="leftPanel" class="col-xs-12 col-md-3">
				<div class="panel panel-default widget-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">Scheduler Control</h3>
					  </div>
					  <div class="panel-body">
					  	<div class="center">
					  		<th:block>
						  		<starter-btn th:attr="init-state=${schedulerState}"></starter-btn>
					  		</th:block>
					  	</div>
					  </div>
				</div>
				
				<div class="panel panel-default widget-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">Scheduler Config</h3>
					  </div>
					  <div class="panel-body">
					  	<config-form></config-form>
					  </div>
				</div>
			</div> <!-- /left-panel -->   	
    		
  			<div id="rightPanel" class="col-xs-12 col-md-9">
  				<div class="panel panel-default widget-panel">
					  <div class="panel-heading">
					    <h3 class="panel-title">Job Output</h3>
					  </div>
					  <div class="panel-body">
					  		<progress-panel></progress-panel>
					  </div>
				</div>
  			</div> <!-- /right-panel -->
  
		 </div><!-- row fragment-->
		 
		 <th:block layout:fragment="script">
            <script th:src="@{/js/manager.js}"></script>
       </th:block>
</body>
</html>