<div class="content" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="1 1 auto" style="border: 1px solid blue">
	  <scheduler-config>
	  </scheduler-config>
  </div>  

  <div fxFlex="1 1 auto" style="border: 1px solid blue">
  	<div fxLayout="column">
  	  <div fxFlex="1 1 auto" style="border: 1px solid green">
		  <progress-panel>
		  </progress-panel>
  	  </div>
	  
  	  <div fxFlex="1 1 auto" style="border: 1px solid green">
		  <logs-panel>
		  </logs-panel>
  	  </div>
  	</div>
  </div>	
   	  
</div>
