<div id="managerViewContainer" fxLayout="column" fxLayoutAlign="left stretch" fxLayoutGap="10px" fxFill>

  <div id="schedulerBarContainer" fxLayout="column" fxLayoutAlign="left stretch">
    <qrzmng-scheduler-control></qrzmng-scheduler-control>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center stretch" fxFlex="1 1 auto">

    <div fxFlex="0 0 250px">
      <div fxLayout="row" fxLayoutAlign="stretch" fxFill>
        <qrzmng-trigger-list
            (onNewTriggerClicked)="onNewTriggerRequested()"
            [openedNewTriggerForm]="newTriggerFormOpened"
            (onSelectedTrigger)="setSelectedTrigger($event)"
             fxFill></qrzmng-trigger-list>
      </div>
    </div>

    <div fxFlex="1 1 350px" >
      <div fxLayout="column">
        <qrzmng-simple-trigger-config
          [triggerKey]="selectedTriggerKey"
          (onNewTrigger)="onNewTriggerCreated($event)">
        </qrzmng-simple-trigger-config>
      </div>
    </div>

    <div fxFlex="1 1 auto" style="margin-left: 20px">
      <div fxLayout="column" fxLayoutGap="8px">
        <div fxFlex="1 1 100%"><progress-panel></progress-panel></div>
        <div fxFlex="1 1 100%" fxFill><logs-panel></logs-panel></div>
      </div>
    </div>

  </div>
</div>


