<div id="managerViewContainer" fxLayout="column" fxLayoutAlign="left stretch" fxLayoutGap="10px" fxFill>

  <div id="schedulerBarContainer" fxLayout="column" fxLayoutAlign="left stretch">
    <qrzmng-scheduler-control></qrzmng-scheduler-control>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center stretch" fxFlex="1 1 auto">

    <div fxFlex="0 0 250px">
      <div fxLayout="row" fxLayoutAlign="stretch" fxFill>
        <qrzmng-trigger-list
            (onNewTriggerClicked)="onNewTriggerRequested()"
            [openedNewTriggerForm]="newTriggerFormOpened"
            (onSelectedTrigger)="setSelectedTrigger($event)"
             fxFill></qrzmng-trigger-list>
      </div>
    </div>

    <div fxFlex="1 1 350px">
        <div fxLayout="row" fxFill>
        <div fxLayout="column" fxFill>
          <qrzmng-simple-trigger-config fxFill
            [triggerKey]="selectedTriggerKey"
            (onNewTrigger)="onNewTriggerCreated($event)">
          </qrzmng-simple-trigger-config>
        </div>
        </div>
    </div>

    <div fxFlex="1 1 auto" style="margin-left: 20px;">
        <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="6px">
          <progress-panel></progress-panel>
          <logs-panel fxFlex="1 1 auto" fxFill></logs-panel>
        </div>
    </div>

  </div>
</div>


