<div id="logs">
	 <div class="row" data-ng-repeat="log in logs">
	  	<div class="col-xs-3">
	  		<span data-ng-class="{'animated zoomIn firstLog': $first}"> [{{log.time|date:'medium'}}]</span>
	  	</div>
	  	<div class="col-xs-2">
	  		<span data-ng-class="{'animated zoomIn firstLog': $first}">
	  		  <i data-ng-class="{'fa fa-check-circle green': log.type == 'INFO', 'fa fa-times-circle red': log.type == 'ERROR'}"></i>	  		  
	  		 </span>
	  	</div>
	  	<div class="col-xs-7">
	  		<span data-ng-class="{'animated zoomIn firstLog': $first}"> {{log.msg}}</span>
	  	</div>
	 </div>
</div>