<mat-card class="trigger-list-card" style="padding-left: 0; padding-right: 0">
  <mat-card-header
    class="flex flex-row justify-space-between"
    style="padding-right: 1em">
    <mat-card-subtitle><b>TRIGGERS</b></mat-card-subtitle>
    @if (!triggerFormIsOpen) {
    <button
      mat-raised-button
      style="top: -0.5em"
      color="primary"
      (click)="onNewTriggerBtnClicked()">
      new
    </button>
    }
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="trigger-list-content">
    <mat-nav-list
      style="
        overflow-y: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        height: calc(100% - 3em);
      ">
      @for (triggerKey of getTriggerKeyList(); track triggerKey) {
      <mat-list-item
        class="triggerItemList"
        [ngClass]="{
          selectedTrigger:
            selectedTrigger && selectedTrigger.name == triggerKey.name
        }"
        (click)="selectTrigger(triggerKey)">
        <a matLine>{{ triggerKey.name }}</a>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-card-content>
</mat-card>
