:host {
  display: flex;
  height: 100%;
  min-height: 0;
  width: 100%;
}

.trigger-list-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.trigger-list-content {
  flex: 1;
  min-height: 0;
  position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b8b8b8 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.selectedTrigger{
  background-color: #dddddd;
}
