<mat-toolbar id="footer" style="color: rgba(255, 255, 255, 0.541176);" fxLayout="row" fxLayoutAlign="center center">
  <a href="https://github.com/fabioformosa/quartz-manager" class="flex flex-row align-items-center" style="gap: 6px">
    <div class="flex"><img src="assets/image/github.png"/></div>
    <div class="font-size-14 font-weight-500 display-block line-height-100">Quartz Manager</div>
  </a>
  <!--    Hand crafted with love by &nbsp;-->
  <!--    <a href="https://github.com/fabioformosa" style="color: rgba(255, 255, 255, 0.870588);">Fabio Formosa</a>-->
</mat-toolbar>
