<mat-card class="flex flex-1 max-h-100">
  <mat-card-header class="pb-16">
    <mat-card-subtitle ><b>JOB LOGS</b></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex flex-1 overflow-y-auto">
    <div class="flex-1">
      <div *ngIf="!logs || logs.length == 0" fxFill class="h-100" style="text-align: center;">
        <img
          src="assets/image/logs.svg"
          alt="no logs"
          width="320"
          style="margin-top: 6em" />
      </div>

      <div id="logs" fxFill style="height: 100%">
        <div
          *ngFor="let log of logs; let first = first"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="start"
          fxLayoutGap="10px">
          <div style="flex: 1; max-width: 300px">
            <span
              [ngClass]="{
                'animate__animated animate__zoomIn zoomIn firstLog': first
              }">
              [{{ log.time | date : 'medium' }}]</span
            >
          </div>
          <div style="flex: 1; max-width: 16px">
            <span [ngClass]="{ 'animated zoomIn firstLog': first }">
              <i
                class="fas"
                [ngClass]="{
                  'fa-check-circle green': log.type == 'INFO',
                  'fa-exclamation-triangle yellow': log.type == 'WARN',
                  'fa-times-circle red': log.type == 'ERROR'
                }"></i>
            </span>
          </div>
          <div style="flex: 1; max-width: 250px">
            <span
              [ngClass]="{
                'animate__animated animate__zoomIn zoomIn firstLog': first
              }">
              {{ log.threadName }}
            </span>
          </div>
          <div style="flex: 1">
            <span
              [ngClass]="{
                'animate__animated animate__zoomIn zoomIn firstLog': first
              }">
              {{ log.msg }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
