<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%.11thread] %-5level [%-40.40logger{49}:%-3L] --- %m%n
			</Pattern>
		</layout>
	</appender>

	<logger name="it.fabioformosa" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
  <logger name="it.fabioformosa.quartzmanager.api.security.helpers.impl.JwtTokenAuthenticationFilter" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.quartz" level="WARN" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
