<div class="progress" ng-show="progress.percentage >= 0">
  <div class="progress-bar" 
  		role="progressbar" 
  		aria-valuenow="{{progress.percentage}}" 
  		aria-valuemin="0" aria-valuemax="100" 
  		ng-style="{width: percentageStr}">
    {{percentageStr}}
  </div>
</div>

<span class="label label-info">counter</span> 
&nbsp; 
<span class="animated pulse">{{progress.timesTriggered}}</span> <span ng-show="progress.repeatCount > 0">/ {{progress.repeatCount}} </span>

<br/><br/>

<span class="label label-info">job key</span>&nbsp; <span class="animated pulse">{{progress.jobKey}}</span>
<br/>
<span class="label label-info">job class</span>&nbsp; <span class="animated pulse">{{progress.jobClass}}</span>
<br/>

<br/><br/>

<span class="label label-info">prev fire time</span>&nbsp; <span class="animated pulse">{{progress.previousFireTime|date:'dd-MM-yyyy HH:mm:ss'}}</span>
<br/>
<span class="label label-info">next fire time</span>&nbsp; <span class="animated pulse">{{progress.nextFireTime|date:'dd-MM-yyyy HH:mm:ss'}}</span>
<br/>
<span class="label label-info">final fire time</span>&nbsp; <span class="animated pulse">{{progress.finalFireTime|date:'dd-MM-yyyy HH:mm:ss'}}</span>
<br/>

<div id="lista">
</div>




