<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Quartz Manager</title>

        
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
          
        <link th:href="@{css/signin.css}" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
        		
        	   <form th:action="@{/login}" method="post" class="form-signin">
		        	<h2 class="form-signin-heading">Login</h2>
		        
		        	<div th:if="${param.error}">
			            Invalid username and password.
			        </div>
			        <div th:if="${param.logout}">
			            You have been logged out.
			        </div>
		        
			        <label for="inputUser" class="sr-only">Username</label>
			        <input type="text" id="inputUser" name="username" class="form-control" placeholder="Username" required="" autofocus=""/>
			       
			        <label for="inputPassword" class="sr-only" >Password</label>
			        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required=""/>
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		      </form>
		      
    	</div>
        
    </body>
</html>