
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />

	<link th:href="@{css/dashboard-bootstrap.css}" rel="stylesheet" media="screen" />
	<link th:href="@{css/scheduler.css}" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
            
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
            
    <script th:src="@{/js/app/components/starter/starter-module.js}"></script>        
    <script th:src="@{/js/app/components/starter/starter-directives.js}"></script>        
    <script th:src="@{/js/app/components/configurator/configurator-module.js}"></script>        
    <script th:src="@{/js/app/components/configurator/configurator-directives.js}"></script>        
    <script th:src="@{/js/app/components/progress/progress-module.js}"></script>        
    <script th:src="@{/js/app/components/progress/progress-directives.js}"></script>        
    <script th:src="@{/js/app/app.js}"></script>
            
</head>
<body>

</body>
</html>