.infoInNavbar{
	color: white;
    line-height: 20px;
    display: block;
    padding: 13px 15px;
    font-size: 14px;
}

.widget-panel{
	padding: 0;
}

.center{
	text-align: center;	
}

.green{
	color: green;
}

.red{
	color: red;
}

.dark-yellow{
	color: #d8dc25;
}

#schedulerControllerBtn{
	cursor: pointer;
}

.large-btn{
	width: 200px;
}

.firstLog{
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
}